.background{
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
}

.element{
    align-content: center;
    position: fixed;
    left:calc(50% - 450px + 120px);
    background: #FFFFFF!important;
    height: 80%;
    width: 900px;

    margin-top:20px;
}
.table{
    direction: ltr;
    background-color: #ffffff;
    align-content: center;
    text-align: center;
}

.tableScenario{
    height: 100%;
}

#scenarioTitle{
    margin-right: calc(50% - 80px);
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
}

#scenarioMiniTitle{
    font-family: 'Muli';
    font-size: 19px;
}

.titleDiv{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0px 30px;
}

.MuiTablePagination-selectLabel{
    display: none!important;
}

.css-levciy-MuiTablePagination-displayedRows{
    margin-bottom: 0;
}

.MuiDataGrid-cell--textRight {
    direction: rtl;
}

.MuiDataGrid-row  {
    border-bottom: 1px solid rgb(219, 219, 219);
    align-items: center;
}

.MuiDataGrid-cell {
    border-bottom: 0px!important;
    margin:5px 2px;
}

.MuiDataGrid-cellContent{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

p{
    margin-bottom: 0px!important;
}

.css-1jbbcbn-MuiDataGrid-columnHeaderTitle{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #9FA2B4;
}

.bad{
    /* background-color: red;
    border: 1px solid black;
    border-radius: 30px; */
    background: #F12B2C;
    border-radius: 100px;
    padding: 0px 45px!important;
    min-width: 70px!important;
    max-height: 30px!important;
    height: 30px;
    margin: auto;
    color:white;
    font-family: 'Muli';
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
}

.good{
    background: #29CC97;
    width: 150px;
    border-radius: 100px;
    padding: 0px 38px!important;
    min-width: 70px!important;
    min-height: 30px!important;
    height: 30px;
    margin: auto;
    color:white;
    font-family: 'Muli';
    font-size:11px;
    line-height: 13px;
    text-transform: uppercase;
}

.css-1w5m2wr-MuiDataGrid-virtualScroller {
    background: #ffffff;
}

.MuiDataGrid-actionsCell{
    width: 100%;
    justify-content: space-around;
    color:#8E8E93;
}

.MuiDataGrid-iconSeparator{
    display: none!important;
}