.popup {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(51, 51, 51, 0.733);
    z-index: 2;
    top: 0;
}

.element2{
    align-content: center;
    height: 430px;
    width: 730px;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
}

.table1{
    height: 400px;
    width: 730px;
    background-color:white;
}

.titleDiv{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}