.background {
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
}

.element {
    align-content: center;
    position: fixed;
    left: calc(50% - 450px + 120px);
    background: #FFFFFF !important;
    height: 80%;
    width: 930px;
    margin-top: 20px;
}

.element .table {
    direction: ltr;
    background-color: #ffffff;
    align-content: center;
    text-align: center;
}

.element .tableScenario {
    height: 100%;
}

#scenarioTitle {
    margin-right: calc(50% - 80px);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.element #scenarioMiniTitle {
    font-size: 19px;
}

.element .titleDiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0px 30px;
}

.element .MuiTablePagination-selectLabel {
    display: none !important;
}

.element .css-levciy-MuiTablePagination-displayedRows {
    margin-bottom: 0;
}

.element .MuiDataGrid-cell--textRight {
    direction: rtl;
}

.element .MuiDataGrid-row {
    border-bottom: 1px solid rgb(219, 219, 219);
    align-items: center;
    min-height: 60px !important;
}

.element .MuiDataGrid-cell {
    border-bottom: 0px !important;
    margin: 5px 2px;
}

.element .MuiDataGrid-cellContent {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.element p {
    margin-bottom: 0px !important;
}

.element .css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #9FA2B4;
}

.bad {
    /* background-color: red;
    border: 1px solid black;
    border-radius: 30px; */
    background: #F12B2C;
    border-radius: 100px;
    padding: 0px 45px !important;
    min-width: 70px !important;
    max-height: 30px !important;
    height: 30px;
    margin: auto;
    color: white;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
}

.good {
    background: #29CC97;
    border-radius: 100px;
    padding: 0px 38px !important;
    min-width: 70px !important;
    min-height: 30px !important;
    height: 30px;
    margin: auto;
    color: white;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
}

.css-1b74o31-MuiInputBase-root-MuiDataGrid-editInputCell input{
    padding: 0px!important;
}

.element .css-1w5m2wr-MuiDataGrid-virtualScroller {
    background: #ffffff;
}

.element .MuiDataGrid-actionsCell {
    width: 100%;
    justify-content: space-around;
    color: #8E8E93;
}

.element .MuiDataGrid-iconSeparator {
    display: none !important;
}

.button-81 {
    background-color: #fff;
    margin-top: 10px;
    margin-left: 90%;
    padding-top: 40px;
    display: inline;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-81:hover {
    background-color: #0F2199;
    color: #fff;
}